
<div class="container" ng-controller="updateController">
<form>
<h3>Update Book Details</h3>
<div class="form-group" >
<label for="Title">Title</label>
<input style="width:50%" type="text" class="form-control" id="title" ng-model="book.title" placeholder="Title" required>
</div>
<div class="form-group">
<label for="Year">Year</label>
<input style="width:50%" type="number" class="form-control" id="year" ng-model="book.year" placeholder="Year" required>
</div>
<div class="checkbox">
<label>
<input type="checkbox" ng-model="book.favorite"> Favourite
</label>
</div>
<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
</form>
</div>
